In [1]:
import pandas as pd

In [ ]:
pd.read_excel ("pandas_Order.xlsx")

In [2]:
from sqlalchemy import create_engine

In [3]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\visit\anaconda3\lib\site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import psycopg2

In [5]:
engine = create_engine('postgresql+psycopg2://postgres:Olawale@localhost/ecommerce_db')

In [6]:
engine

Engine(postgresql+psycopg2://postgres:***@localhost/ecommerce_db)

In [7]:
pd.read_excel ("pandas_Order.xlsx")

    Order ID  Customer ID  Product ID  Quantity Order Date  Price
0          1            1         101         2 2024-01-10     10
1          2            4         102         1 2024-01-12     20
2          3            7         103         3 2024-01-15     30
3          4            1         104         1 2024-01-18     40
4          5            6         105         2 2024-01-20     20
5          6            5         106         1 2024-02-10     50
6          7            2         107         4 2024-02-12     10
7          8           10         108         2 2024-02-15     60
8          9            4         109         3 2024-02-18     20
9         10            3         110         1 2024-02-20     70
10        11            9         111         2 2024-02-29     40
11        12            2         112         2 2024-01-10     30
12        13            8         113         1 2024-01-22     20
13        14            7         114         3 2024-01-25     65
14        15            4         115         4 2024-01-09     80

In [8]:
order_df=pd.read_excel ("pandas_Order.xlsx")

In [9]:
order_df.to_sql("orders",engine,if_exists='replace')

15

In [10]:
pd.read_excel ("Customer.xlsx")

   Customer ID     Name                    Email         City
0            1     John         john@hotmail.com      Houston
1            2     Fodd        fodd2@hotmail.com      Houston
2            3  Richard        mozmill@yahoo.com      Seattle
3            4     Mary        marie@hotmail.com     New York
4            5      Ben        richkid@gmail.com      Atlanta
5            6    Moses         mosiah@yahoo.com       Dallas
6            7   Lizzie  lizzieonye234@yahoo.com      Chicago
7            8    Peter       peterson@gmail.com  Los Angeles
8            9    Jason   jackiechan@hotmail.com       Denver
9           10    Sansa       sansie@hotmail.com      Phoenix

In [11]:
customer_df=pd.read_excel ("Customer.xlsx")

In [12]:
customer_df.to_sql("customers",engine,if_exists='replace')

10

In [13]:
order_df.isnull()

    Order ID  Customer ID  Product ID  Quantity  Order Date  Price
0      False        False       False     False       False  False
1      False        False       False     False       False  False
2      False        False       False     False       False  False
3      False        False       False     False       False  False
4      False        False       False     False       False  False
5      False        False       False     False       False  False
6      False        False       False     False       False  False
7      False        False       False     False       False  False
8      False        False       False     False       False  False
9      False        False       False     False       False  False
10     False        False       False     False       False  False
11     False        False       False     False       False  False
12     False        False       False     False       False  False
13     False        False       False     False       False  False
14     False        False       False     False       False  False

In [14]:
Missing_Values=order_df.isnull()

In [15]:
missing_rows = order_df[order_df.isna().any(axis=1)]

In [16]:
missing_rows

Empty DataFrame
Columns: [Order ID, Customer ID, Product ID, Quantity, Order Date, Price]
Index: []

In [31]:
null_rows = order_df[order_df.isnull().any(axis=1)]

In [32]:
null_rows

Empty DataFrame
Columns: [index, Order ID, Customer ID, Product ID, Quantity, Order Date, Price]
Index: []

In [33]:
order_df.isnull().sum()

index          0
Order ID       0
Customer ID    0
Product ID     0
Quantity       0
Order Date     0
Price          0
dtype: int64

In [34]:
order_df [['Order_Date']]

KeyError: "None of [Index(['Order_Date'], dtype='object')] are in the [columns]"

In [35]:
order_df.rename(columns = {"Order Date": "Order_Date"}, inplace = True)

In [36]:
order_df

    index  Order ID  Customer ID  Product ID  Quantity Order_Date  Price
0       0         1            1         101         2 2024-01-10     10
1       1         2            4         102         1 2024-01-12     20
2       2         3            7         103         3 2024-01-15     30
3       3         4            1         104         1 2024-01-18     40
4       4         5            6         105         2 2024-01-20     20
5       5         6            5         106         1 2024-02-10     50
6       6         7            2         107         4 2024-02-12     10
7       7         8           10         108         2 2024-02-15     60
8       8         9            4         109         3 2024-02-18     20
9       9        10            3         110         1 2024-02-20     70
10     10        11            9         111         2 2024-02-29     40
11     11        12            2         112         2 2024-01-10     30
12     12        13            8         113         1 2024-01-22     20
13     13        14            7         114         3 2024-01-25     65
14     14        15            4         115         4 2024-01-09     80

In [37]:
Date=order_df [['Order_Date']]

In [38]:
Date

   Order_Date
0  2024-01-10
1  2024-01-12
2  2024-01-15
3  2024-01-18
4  2024-01-20
5  2024-02-10
6  2024-02-12
7  2024-02-15
8  2024-02-18
9  2024-02-20
10 2024-02-29
11 2024-01-10
12 2024-01-22
13 2024-01-25
14 2024-01-09

In [39]:
type(Date)

pandas.core.frame.DataFrame

In [40]:
pd.to_datetime(Date)

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing

In [41]:
Order_df['order_date] = pd.to_datetime(Date)

SyntaxError: unterminated string literal (detected at line 1) (2104489865.py, line 1)

In [42]:
order_df.groupby('Customer ID')

In [43]:
order_df.groupby('Customer ID')['Quantity']

In [46]:
order_df.groupby('Customer ID')['Quantity'] * order_df['Price']

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 2 dimensions. The detected shape was (10, 2) + inhomogeneous part.

In [45]:
grouped_df = order_df.groupby('Customer ID')

In [ ]:
for x in grouped_df:
    print(x)

In [24]:

total_quantity_by_customer = order_df.groupby('Customer ID')['Quantity'].sum()

In [25]:
total_quantity_by_customer

Customer ID
1     3
2     6
3     1
4     8
5     1
6     2
7     6
8     1
9     2
10    2
Name: Quantity, dtype: int64

In [48]:
total_Price_by_customer = order_df.groupby('Customer ID')['Price'].sum()

In [49]:
total_Price_by_customer

Customer ID
1      50
2      40
3      70
4     120
5      50
6      20
7      95
8      20
9      40
10     60
Name: Price, dtype: int64

In [27]:
new_df=pd.read_sql('orders',engine)

In [28]:
print(new_df)

    index  Order ID  Customer ID  Product ID  Quantity Order Date  Price
0       0         1            1         101         2 2024-01-10     10
1       1         2            4         102         1 2024-01-12     20
2       2         3            7         103         3 2024-01-15     30
3       3         4            1         104         1 2024-01-18     40
4       4         5            6         105         2 2024-01-20     20
5       5         6            5         106         1 2024-02-10     50
6       6         7            2         107         4 2024-02-12     10
7       7         8           10         108         2 2024-02-15     60
8       8         9            4         109         3 2024-02-18     20
9       9        10            3         110         1 2024-02-20     70
10     10        11            9         111         2 2024-02-29     40
11     11        12            2         112         2 2024-01-10     30
12     12        13            8         113         1 2024-01-22     20
13     13        14            7         114         3 2024-01-25     65
14     14        15            4         115         4 2024-01-09     80

In [51]:
new_df['Total Amount'] = new_df['Quantity'] * new_df['Price']

In [52]:
new_df

,index,Order ID,Customer ID,Product ID,Quantity,Order Date,Price,Total Amount
0,0,1,1,101,2,2024-01-10,10,20
1,1,2,4,102,1,2024-01-12,20,20
2,2,3,7,103,3,2024-01-15,30,90
3,3,4,1,104,1,2024-01-18,40,40
4,4,5,6,105,2,2024-01-20,20,40
5,5,6,5,106,1,2024-02-10,50,50
6,6,7,2,107,4,2024-02-12,10,40
7,7,8,10,108,2,2024-02-15,60,120
8,8,9,4,109,3,2024-02-18,20,60
9,9,10,3,110,1,2024-02-20,70,70
10,10,11,9,111,2,2024-02-29,40,80
11,11,12,2,112,2,2024-01-10,30,60
12,12,13,8,113,1,2024-01-22,20,20
13,13,14,7,114,3,2024-01-25,65,195
14,14,15,4,115,4,2024-01-09,80,320

In [54]:
total_amount_by_customer = new_df.groupby('Customer ID')['Total Amount'].sum()

In [55]:
total_amount_by_customer

Customer ID
1      60
2     100
3      70
4     400
5      50
6      40
7     285
8      20
9      80
10    120
Name: Total Amount, dtype: int64

In [57]:
top_10_customers = total_amount_by_customer.nlargest(10)

In [58]:
top_10_customers

Customer ID
4     400
7     285
10    120
2     100
9      80
3      70
1      60
5      50
6      40
8      20
Name: Total Amount, dtype: int64

In [59]:
total_quantity_per_product = new_df.groupby('Product ID')['Quantity'].sum()

In [60]:
total_quantity_per_product

Product ID
101    2
102    1
103    3
104    1
105    2
106    1
107    4
108    2
109    3
110    1
111    2
112    2
113    1
114    3
115    4
Name: Quantity, dtype: int64

In [61]:
top_5_products = total_quantity_per_product.nlargest(5)

In [62]:
top_5_products

Product ID
107    4
115    4
103    3
109    3
114    3
Name: Quantity, dtype: int64